* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 170px 0px;
}

/* ========== Common ========== */
.common__content {
    width: 1170px;
    margin: 0 auto;
}

.common__btn {
    display: inline-block;
    width: 205px;
    height: 60px;
    padding: 15px 46px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
    color: #fff;
    background: #2e80ce;
}

.common__btn:hover {
    opacity: 0.9;
}

.sticky {
    position: sticky;
    top: -28px;
    z-index: 1;
    background: #10375c;
}

a {
    text-decoration: none;
}

/* ========== Header ========== */
.header {
    background: #10375c;
    padding: 30px 0 110px;
    grid-area: 1 / 1 / 4 / 2;
}
/* Start */
.header__start {
    display: flex;
    align-items: center;
}

.header__logo--sub-title {
    margin-left: 6px;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 0.7779; /* 77.778% */
    color: #fff;
}

.header__logo--sub-title span {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 14px;
}

/* Header-Nav */
.header__nav {
    margin-left: auto;
    margin-right: 222px;
}

.nav__content {
    display: flex;
    gap: 42px;
}

.nav__link {
    font-weight: 300;
    line-height: 1.75;
    color: #c9d2da;
    transition: 0.3s;
}

.nav__link:hover {
    font-weight: 400;
    color: #fff;
}

.nav__item {
    position: relative;
}

.nav__item:first-child .nav__link {
    font-weight: 400;
    color: #fff;
}

.nav__item:first-child::before {
    position: absolute;
    left: -11px;
    top: 9px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Header-CTA */
.header__log-in {
    margin-right: 48px;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    color: #c9d2da;
    transition: 0.3s;
}

.header__log-in:hover {
    color: #fff;
}

.header__sign-up {
    text-align: center;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    width: 104px;
    height: 44px;
    padding: 8px 19px;
    border-radius: 22px;
    color: #fff;
    background: #2e80ce;
}

.header__sign-up:hover {
    opacity: 0.9;
}

/* Header-Body */
.header__cover-body {
    display: flex;
}

.header__body {
    margin-top: 136px;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.header__title {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.15; /* 114.286% */
    letter-spacing: -1.4px;
    color: #fff;
}

.header__desc {
    margin-top: 22px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6667; /* 166.667% */
    color: #c9d2da;
}

.header__contact {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.header__tel {
    margin-left: 38px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6667; /* 166.667% */
    color: #fff;
}

.header__tel:hover {
    text-decoration: underline;
}

.header__image-block {
    display: flex;
    align-items: center;
    width: 56%;
    margin-top: 76px;
    padding-left: 113px;
}

.header__image--L {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.header__image--S {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    object-fit: cover;
}

/* ========== Services ========== */
.services__title {
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    color: #10375c;
}

.services__desc {
    margin: 18px auto 0;
    width: 468px;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6667; /* 166.667% */
    color: #575f66;
}

.services__body {
    margin-top: 70px;
    display: flex;
}

.services__image {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services__option {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
}

.services__option--item {
    display: flex;
    align-items: center;
    padding: 21px 18px 20px 22px;
}

.services__option--item:hover {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.option__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 95px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.services__option--item:hover .option__icon {
    color: #fff;
    background: #2e80ce;
}

.option__text {
    margin-left: 19px;
}

.option__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #10375c;
}

.option__desc {
    margin-top: 8px;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    color: #575f66;
}

.option__btn {
    margin-top: 55px;
}

/* ========== Guides ========== */
.main__guides {
    margin-top: 170px;
    background: #f6fbff;
}

.guides__content {
    padding: 100px 0;
}

.guides__title {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    color: #10375c;
}

.guides__desc {
    margin-top: 18px;
    width: 468px;
    max-width: 100%;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6667; /* 166.667% */
    color: #575f66;
}

.guides__body {
    position: relative;
    display: flex;
    gap: 30px;
    margin-top: 86px;
}

.guides__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 338px;
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #fff;
}

.guides__card:hover {
    top: -16px;
    border-color: #2e80ce;
}

.guides__icon {
    width: 72px;
    height: 72px;
}

.guides__sub-title {
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.39; /* 138.462% */
    color: #10375c;
}

.guides__desc--small {
    margin-top: 28px;
    min-width: 254px;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    color: #575f66;
}

.guides__link {
    margin-top: 18px;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    color: #575f66;
    transition: 0.3;
}

.guides__link:hover {
    font-weight: 500;
    color: #2e80ce;
}

/* ========== About ========== */
.main__about {
    margin-top: 170px;
}

.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__images {
    position: relative;
    width: 570px;
    height: 491px;
}

.about__image--before {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.about__image--after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 1;
}

.about__body {
    width: 470px;
}

.about__title {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    color: #10375C;
}

.about__desc {
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6667; /* 166.667% */
    color: #575F66;
}

.about__btn {
    margin-top: 38px;
}